<!DOCTYPE HTML>
<html>
<head>
  <title>Blog</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/fontawesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
</head>
<body>
{% include 'head_bar.html' %}
<header id="home">
    <div class="overlay">
        <div id="blog_format">
            <div class="col-sm-5 profile_left">
				<h3 style="color: rgb(40,40,50);padding-bottom: 0.5em;">Post Detail</h3>
			<div class = "col-3">
				<a class="btn btn-primary" href="" role="button" id="create_button" style="margin-right: 0em;">Create New Post</a>
			</div>
      		</div>
    	</div>
	</div>
</header>

<footer>
    <div class="copyright text-center">
        <p>Copyright 2022  Design for Cloud Computing Group Project</p>
    </div>
</footer>

<script src="/static/js/jquery-3.3.1.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script>
    $(function () {
        
        'use strict';
        
        var winH = $(window).height();
        
        $('header').height(winH);  
        
        $('header .container > div').css('top', (winH / 2) - ( $('header .container > div').height() / 2));
        
        $('.navbar ul li a.search').on('click', function (e) {
            e.preventDefault();
        });
        $('.navbar a.search').on('click', function () {
            $('.navbar form').fadeToggle();
        });
        
        $('.navbar ul.navbar-nav li a').on('click', function (e) {
            
            var getAttr = $(this).attr('href');
            
            e.preventDefault();
            $('html').animate({scrollTop: $(getAttr).offset().top}, 1000);
        });
    })
</script>
</body>
</html>